<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <%- include("../public/header.ejs") -%>
    <h1>Dashboard</h1>
  
    <form action="/logout" method="POST">
        <div class="center-anchors">
            <p>Welcome <%= name %></p>
            <a href="/edit-profile">Edit Profile</a>
            <a href="/delete-account">Delete account</a>
            <% if (id === 1) { %>
                <a href="/admin">Admin</a>
            <% } %>
        <input type="submit" value="Log out">
    </div>
    </form>
  
    <%- include("../public/footer.ejs") -%>
</body>
</html>