<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <%- include("../public/header.ejs") -%>
    <h1>Login</h1>
    <div id="login" class="container">
        <div class="column">
            <% if (messages.error) { %>
                <p class="error"><%= messages.error %></p>
            <% } %>
            <form action="/login" method="post">
                <div>
                    <label for="user_name">Username:</label>
                    <input type="text" id="user_name" name="user_name" maxlength="32" required> 
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" maxlength="32" required>
                </div>
                <input type="submit" value="login">
            </form>
        </div>
        <div class="column">
            <p>Don't have an account? <a href="/register" hx-get="/register" hx-swap="outerHTML" hx-target="#login" hx-select="#register">Register</a></p>
            <p>Forgot your password? <a href="/forgot-password">Reset password</a></p>
        </div>
    </div>
    <%- include("../public/footer.ejs") -%>
</body>
</html>