<div class="footer">
    <div class="container">
        <div class="column">
            <h5>Lecturer: Mr. Liam McCabe</h5>
        </div>
        <div class="column">
            <h5>Student: Jacob Molina Castro</h5>
        </div>
    </div>
</div>