<div class="header">
    <div class="container">
        <div class="column">
            <h4>Secure Web Development - PGDCYB_JAN24</h4>
        </div>
        <div class="column">
            <h4>TABA</h4>
        </div>
    </div>
</div>